@page "/lazy-loading"

<h1>Lazy loading</h1>

<p>Normalmente, Blazor descarga y carga todas las dependencias de la aplicación cuando se carga por primera vez. Para retrasar la carga de un ensamblado .NET, agréguelo al grupo de elementos <code>BlazorWebAssemblyLazyLoad</code> en su archivo de proyecto</p>

<p>La aplicación debe cargar explícitamente los ensamblados marcados para carga diferida antes de que se utilicen. Para cargar ensamblados de forma diferida en tiempo de ejecución, use el servicio <code>LazyAssemblyLoader</code></p>

<p>A menudo, los ensamblados deben cargarse cuando el usuario navega a una página en particular. El componente  <code>Router</code> tiene un nuevo evento <code>OnNavigateAsync</code> que se activa en la navegación de cada página y se puede usar para cargar ensamblados de forma diferida para una ruta en particular. También puede cargar perezosamente la página completa para una ruta pasando los ensamblajes cargados como ensamblajes adicionales al <code>Router</code>.</p>

<p>El siguiente componente se carga perezosamente desde MyComponents.dll:</p>

<Component1 />