@page "/wasm-prerendering"

<h1>Blazor WebAssembly prerendering</h1>

<p>Cuando esta aplicación se ejecuta en WebAssembly, el procesamiento inicial se maneja en el servidor para acelerar el tiempo de carga percibido y mejorar el análisis de la página estática.</p>

<p>Vea el código fuente de esta página para ver que fue renderizado previamente.</p>
