@page "/catch-all-route-parameters"
@page "/catch-all-route-parameters/{*path}"

<h1>Captura todos los parámetros de la ruta</h1>

<p>Agregue a la ruta de la dirección y actualice la página.</p>

<p>Ruta: @Path</p>


@code {
    [Parameter]
    public string Path { get; set; }
}