@page "/css-isolation"

<h1>CSS isolation</h1>

<p>Los componentes de Blazor pueden tener estilos específicos de componentes. Los estilos de componentes específicos se aíslan para afectar solo a ese componente.</p>

<p>Defina estilos específicos de componentes en un archivo .razor.css. Los estilos específicos de los componentes se procesan y empaquetan en el momento de la compilación y luego se ponen a disposición de la aplicación como un activo web estático en la ruta <code>{project_name}.styles.css.</code></p>

<p>Tanto el componente del <code>MainLayout</code> y <code>NavMenu</code>  en esta aplicación de ejemplo usan estilos de componentes especificos que es encuentran en <code>Shared/MainLayout.razor.css</code> y <code>Shared/NavMenu.razor.css</code>.</p>
