@page "/file-upload"
@using Microsoft.AspNetCore.Components.Forms

<h1>Subir Archivo</h1>

<InputFile OnChange="OnInputFileChange" multiple />

<div class="image-list">
    @foreach (var imageDataUrl in imageDataUrls)
    {
        <img src="@imageDataUrl" />
    }
</div>

@code {
    IList<string> imageDataUrls = new List<string>();

    async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        IEnumerable<IBrowserFile> imageFiles = e.GetMultipleFiles();

        string format = "image/png";
        foreach (IBrowserFile imageFile in imageFiles)
        {
            IBrowserFile resizedImageFile = await imageFile.RequestImageFileAsync(format, 100, 100);
            byte[] buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);
            string imageDataUrl = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            imageDataUrls.Add(imageDataUrl);
        }
    }
}
