@page "/"

<h1>Hello, world!</h1>

<p>Bienvenido a tu nueva aplicación.</p>

<p>Utilice los items del menu para conocer las nuevas funciones de Blazor en .NET 5.</p>

<p>De forma predeterminada, estos ejemplos se ejecutan como una aplicación de Blazor Server. Use el interruptor en la barra de navegación para volver a cargar esta aplicación en WebAssembly.</p>

