@page "/js-isolation"

@inject ExampleJsInterop ExampleJsInterop

<h3>JavaScript isolation</h3>

<button class="btn btn-primary" @onclick="Prompt">Preguntar</button>

<p>@message</p>

@code {
    string message;

    async Task Prompt()
    {
        message = await ExampleJsInterop.Prompt("¿Cual es tu color favorito?");
    }
}
