@page "/ui-focus"

<h1>Establecer Foco en la UI</h1>

<button class="btn btn-primary" @onclick="() => input.FocusAsync()">Foco en el campo de texto!</button>
<input @ref="input" />

@code {
    ElementReference input;
}